
body{
	background-color:#E9F0F1;
}
h1 {
       
       color: #E04343;
     text-align: right;



}


h5 {
	font-family: serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: underline;
	text-align: right;
	color:#2744D2;
}


a {
   text-decoration: underline;

}


